#frame {
  height: 30vw;
  width: 90%;
  border: rgba(44, 44, 44, 0.2) solid 5px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  user-select: none;
}

#road {
  height: 100%;
  position: relative;
  left: -8vw;
}

#car {
  position: absolute;
  width: 12vw;
  margin-left: 1.5vw;
}
