#frame {
  height: 30vw;
  width: 90%;
  border: rgba(44, 44, 44, 0.2) solid 5px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  user-select: none;
}

#choices {
  position: absolute;
  z-index: 20;
}

#choices > div {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 12vw;
}

#car_occupants{
  left: 4vw;
  top: 3vw;
}

#left_choice {
  left: 32vw;
  top: -7vw;
}

#right_choice {
  left: 32vw;
  top: 3vw;
}

#road {
  height: 100%;
  position: relative;
  left: -8vw;
}

#car {
  position: absolute;
  width: 18vw;
  margin-left: 1.5vw;
  align-self: end;
  margin-bottom: 5vw;
}

.characters {
  width: 4vw;
}
