main {
  display: flex;
  font-family: "Product Sans", sans-serif;
  color: white;
  background: var(--violet);
  user-select: none;
}

.light-description {
  font-size: 1vw;
}

.light-checkbox {
  padding: 0.5vw 1vw;
  font-size: 1vw;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  width: 4vw;
}

#car, #crosswalks {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 4vw;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 1.75vw;
}

#car {
  border-right: 4px solid var(--black);
}

.green {
  background: #87baab;
}

.red {
  background: var(--red);
}

#submit {
  padding: 1vw 2vw;
  border: 1px solid white;
  border-radius: 5px;

  margin-top: 2vw;

  cursor: pointer;
  background: #87baab;
  font-size: 2vw;
  color: white;

  transition: 0.2s;
}

#submit:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
