<main>
  <div id="car">
    <h1>Car occupants</h1>
    <app-scenario-character-chooser></app-scenario-character-chooser>
  </div>
  <div id="crosswalks">
    <div class="side">
      <h1>Top side</h1>
      <h2>Lights</h2>
      <div class="lights"></div>
      <h2>Pedestrians</h2>
      <app-scenario-character-chooser></app-scenario-character-chooser>
    </div>
    <div class="side">
      <h1>Bottom side</h1>
      <h2>Lights</h2>
      <div class="lights"></div>
      <h2>Pedestrians</h2>
      <app-scenario-character-chooser></app-scenario-character-chooser>

    </div>
  </div>
</main>
