main {
  display: flex;
  font-family: "Product Sans", sans-serif;
  color: white;
  background: var(--violet);
  user-select: none;
}

.light-checkbox {
  padding: 0.5vw 1vw;
  font-size: 1vw;
}

#car, #crosswalks {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 4vw;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 1.75vw;
}

#car {
  border-right: 4px solid var(--black);
}
